---
Language: Cpp
Standard: Cpp11

BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: None

BreakBeforeInheritanceComma: true
BreakInheritanceList: BeforeComma
SpaceBeforeInheritanceColon: false

BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false

ColumnLimit: 160
...
